<div class="tabcontant">
    <div id="SearchTerBar" style=" line-height:26px; background: #fafafa;padding:5px;">
        <table>
            <tr>

                <td style="padding-left: 15px;">
                    终端类型:
                </td>
                <td>
                    <input id="TerTypeSel" name="TerTypeSel" type="text" class="easyui-combobox" style="width:150px; height:30px;" />
                </td>

                <td style="padding-left: 15px;">
                    所属企业:
                </td>
                <td>
                    <input id="TerDeptSel" name="TerDeptSel" class="easyui-combobox" style="width:150px; height:30px;" />
                </td>

                <td style="padding-left: 15px;">
                    <input id="ChkShowChild" type="checkbox" name="ChkShowChild" title="勾选后查询所选企业/部门及其所有子部门的数据，默认只查询所选企业/部门下的数据。" /><label title="勾选后查询所选企业/部门及其所有子部门的数据，默认只查询所选企业/部门下的数据。" style="cursor:pointer;" for="ChkShowChild">包含子企业</label>
                </td>

                <td style="padding-left: 15px;">
                    统计类型:
                </td>
                <td>
                    <input id="TJTypeSel" name="TJTypeSel" type="text" class="easyui-combobox" style="width:150px; height:30px;" panelheight="60" />
                </td>
            </tr>
        </table>
        <table style="margin-top:5px;">
            <tr>
                <td style="padding-left: 15px;">
                    对象类型:
                </td>
                <td>
                    <input id="ObjTypeSel" name="ObjTypeSel" type="text" class="easyui-combobox" style="width:150px; height:30px;" panelheight="110" />
                </td>
                <td style="padding-left: 18px;">
                    关&nbsp;键&nbsp;字:
                </td>
                <td>
                    <input id="SearchKey" name="SearchKey" type="text" style="width:180px; height:23px;" />
                </td>

                <td colspan="4">
                    &nbsp;&nbsp;<a class="easyui-linkbutton" icon="icon-search" id="search" onclick="Btn_GetTerList()">查询</a>
                    &nbsp;&nbsp;<a class="easyui-linkbutton" icon="icon-search" id="upLoad" onclick="Btn_LoadExcel()">导出</a>
                </td>

            </tr>
        </table>
    </div>
    <table id="LoadDataTable"></table>
</div>

<script src="~/assets/javascripts/Common.js"></script>

<script src="~/assets/javascripts/Report.js"></script>

<script type="text/javascript">
    $(function () {
        //检索框面板
        $("#SearchTerBar").panel({
            height: 78,
            noheader: true,
            style: { marginBottom: 5 }
        });

        $("input, textarea, select").uniform();

        //用户表格高度
        $("#LoadDataTable").height($(document.body).height() - $("#SearchTerBar").height() - 37);

        //终端类型下拉框
        InitTerTypeSel();

        //所属企业下拉框
        InitDeptSel();

        //对象类型下拉框
        InitCarTerTypeSel();

        //统计类型
        InitTJTypeSel();

        $('#TerDeptSel').combotree('setValue', '@ViewBag.DeptId');//= 301 区域


        //加载表格数据
        InitLoadDataTable("yxzd");

        InitUISize();

    });

    //统计类型绑定
    function InitTJTypeSel() {
        var data = [
            { "id": "yxzd", "text": "有线统计" },
            { "id": "wxzd", "text": "无线统计" }
        ];

        $('#TJTypeSel')
            .combobox({
                textField: "text",
                valueField: "id",
                editable: false,
                onLoadSuccess: function () {
                    $('#TJTypeSel').combobox('setValue', 'yxzd');
                }
            })
            .combobox("loadData", data);
    }

    //提取参数
    function GetArgs() {
        //部门单位
        var DeptId = $('#TerDeptSel').combotree('getValue');
        var ShowChild = "false";
        if ($("#ChkShowChild").is(':checked') == true) {
            ShowChild = "true";
        }

        //终端型号
        var TerTypeNo = $('#TerTypeSel').combotree('getValue');

        //时间段
        var RQ_KS = null; //$("#KSRQ").datebox('getValue');
        var RQ_JS = null; //$("#JSRQ").datebox('getValue');

        //关键字
        var ObjTypeNo = $('#ObjTypeSel').combotree('getValue');
        var KeyText = $("#SearchKey").val();

        var param = {
            TerType: $('#TJTypeSel').combotree('getValue'),
            DeptId: DeptId,
            ShowChild: ShowChild,
            TerTypeNo: TerTypeNo,

            //关键字
            ObjTypeNo: ObjTypeNo,
            KeyText: KeyText,

            //时间段
            KSRQ: RQ_KS,
            JSRQ: RQ_JS
        };

        return param;
    }

    var TerManager = [];

    function InitLoadDataTable(TerType) {
        var Tmp_Columns = "";
        if (TerType == "yxzd") { //有线设备
            Tmp_Columns = [[
                { field: 'TerNo', title: '终端编号', width: 120, align: 'center' },
                { field: 'CarNo', title: '车牌号', width: 120, align: 'center' },
                { field: 'HCSJ', title: '回传时间', width: 120, align: 'center' },
                { field: 'LCTJ', title: '总里程', width: 120, align: 'center' },
                { field: 'LJLXTS', title: '离线天数', width: 90, align: 'center' },
                { field: 'DQBJZT', title: '报警状态', width: 80, align: 'center' },
                { field: 'LJHCCS', title: '回传次数', width: 70, align: 'center' },
                { field: 'LJGS', title: '累计工时', width: 80, align: 'center' },
                { field: 'TJSJ', title: '统计时间', width: 120, align: 'center' }
            ]];
        }
        else {  //无线设备
             Tmp_Columns = [[
                { field: 'TerNo', title: '终端编号', width: 120, align: 'center' },
                { field: 'CarNo', title: '车牌号', width: 100, align: 'center' },
                { field: 'HCSJ', title: '回传时间', width: 120, align: 'center' },
                { field: 'LJLXTS', title: '离线天数', width: 90, align: 'center' },
                { field: 'DQBJZT', title: '报警状态', width: 80, align: 'center' },
                { field: 'MS_BZBL', title: '标准比例', width: 70, align: 'center' },
                { field: 'MS_JZBL', title: '精准比例', width: 70, align: 'center' },
                { field: 'MS_ZCBL', title: '追车比例', width: 70, align: 'center' },
                { field: 'LJHCCS', title: '回传次数', width: 70, align: 'center' },
                { field: 'LJGS', title: '累计工时', width: 80, align: 'center' },
                { field: 'TJSJ', title: '统计时间', width: 120, align: 'center' }
             ]];
        }
        $('#LoadDataTable').datagrid({
            url: '@Url.Action("GetData_ZDTJ", "CarReport")?TerType ='+ TerType,
            columns: Tmp_Columns,
            fitColumns: true,
            striped: true,
            rownumbers: true, //是否加行号
            pagination: true, //是否显式分页
            pageSize: 15, //页容量，必须和pageList对应起来，否则会报错
            pageNumber: 1, //默认显示第几页
            pageList: [15, 30, 50],
            detailFormatter: function (index, row) {
                return '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
                $('#ddv-' + index).append(nav);
                $('#dg').datagrid('fixDetailRowHeight', index);
            },
            pagination: true,
            toolbar: TerManager
        });
    }

    //加载数据
    function Btn_GetTerList() {
        $("#LoadDataTable").datagrid("load", GetArgs());
        var tjtype = $('#TJTypeSel').combotree('getValue')
        InitLoadDataTable(tjtype);
    }

    //导出excel
    function Btn_LoadExcel() {
        $.post("GetData_ZDTJ_ToExcel",
            GetArgs(),
            function (e) {
                if (e.indexOf("Files") > 0) {
                    window.location.href = e;
                }
                else {
                    alert("导出失败，请重新导出！");
                }
            }
        );
    }

    window.onresize = function () {
        InitUISize();
    }

</script>




