

<div class="tabcontant">
    <div id="audit_polluteManager_list_searchPanel"
         style="height: auto; background: #fafafa; padding: 5px; margin-bottom: 5px;"
         class="easyui-panel" iconcls="icon-search" title="搜索车机故障申报信息"
         collapsible="true" minimizable="false" maximizable="false"
         closable="false">
        <form id="audit_polluteManager_list_searchForm" method="post">
            <table align="center" cellpadding="1" cellspacing="1" border="0" width="100%">
                <tr style="height:25px;">
                    <td style="padding-left: 15px;">
                        车辆编号：
                    </td>
                    <td>
                        <input name="polluteaccidentnameString" class="easyui-textbox" type="text"
                               style="width:150px;height:20px;" />
                    </td>
                    <td style="padding-left: 15px;">
                        GPS编号：
                    </td>
                    <td>
                        <input name="polluteaccidentnameString" class="easyui-textbox" type="text"
                               style="width:150px;height:20px;" />
                    </td>
                    <td style="padding-left: 15px;">
                        机型：
                    </td>
                    <td>
                        <input name="polluteaccidentnameString" class="easyui-textbox" type="text"
                               style="width:150px;height:20px;" />
                    </td>
                   
                    <td style="padding-left:30px;" rowspan="2" align="center">
                        <div style="width:10px;height:0px;overflow:hidden;"><input type="submit"></div>
                        <a class="easyui-linkbutton" icon="icon-search"
                           href="javascript:audit_polluteManager_list_searchForm_submit();">查询</a> &nbsp;&nbsp;
                    
                    </td>
                </tr>
                <tr style="height:25px;">
                    <td style="padding-left: 15px;">
                        车机状态：
                    </td>
                    <td>
                        <select name="operatestatus" class="easyui-combobox" style="width:150px;height:20px;"
                                id="audit_polluteManager_list_searchInput_operatestatus">
                            <option value="">--请选择--</option>
                            <option value="01">正常</option>
                            <option value="02">故障</option>
                            <option value="03">维修</option>
                        </select>
                    </td>
                    <td style="padding-left: 15px;">
                        经销商：
                    </td>
                    <td>
                        <input name="polluteaccidentnameString" class="easyui-textbox" type="text"
                               style="width:150px;height:20px;" />
                    </td>
                    <td style="padding-left: 15px;">
                        市场部：
                    </td>
                    <td>
                        <input name="polluteaccidentnameString" class="easyui-textbox" type="text"
                               style="width:150px;height:20px;" />
                    </td>
                </tr>

            </table>
        </form>
    </div>


    <table id="FaultClareTable" data-options="rownumbers:true,singleSelect:true,toolbar:toolbar" class="easyui-datagrid" style="height:auto"></table>
</div>
<div id="FaultEditPage" style="display:none">
    <table>
        <tr margin-left="40">
            <td>车牌号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="3F70001AZ-G" /></td>
        </tr>
        <tr>
            <td>GPS编号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="FR60" /></td>
        </tr>
        <tr>
            <td>SIM卡号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="12345678901" /></td>
        </tr>
        <tr>
            <td>经销商：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="廊坊市机械有限公司" /></td>
        </tr>
        <tr>
            <td>故障状态：</td>
            <td><select name="operatestatus" class="easyui-combobox" style="width:150px;height:20px;"
        id="audit_polluteManager_list_searchInput_operatestatus">
    <option value="">--请选择--</option>
    <option value="01">故障</option>
    <option value="02">维修</option>
    <option value="03">正常</option>
</select></td>
        </tr>
        <tr>
            <td>驾驶员名称：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="吴明远" /></td>
        </tr>
        <tr>
            <td>驾驶员手机号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="13700011111" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div style="width:10px;height:0px;overflow:hidden;"><input type="submit"></div>
                <a class="easyui-linkbutton" icon="icon-cut"
                   href="#">确认修改</a> &nbsp;&nbsp;
            </td>
        </tr>
    </table>
</div>
<div id="FaultAddPage" style="display:none">



    <table>
        <tr margin-left="40">
            <td>车牌号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;"  /></td>
        </tr>
        <tr>
            <td>GPS编号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;"/></td>
        </tr>
        <tr>
            <td>SIM卡号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" /></td>
        </tr>
        <tr>
            <td>经销商：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;"/></td>
        </tr>
        <tr>
            <td>品牌：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" /></td>
        </tr>
        <tr>
            <td>驾驶员名称：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" /></td>
        </tr>
        <tr>
            <td>驾驶员手机号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;"  /></td>
        </tr>
        <tr>
            <td>故障原因：</td>
            <td><select name="operatestatus" class="easyui-combobox" style="width:150px;height:20px;"
        id="audit_polluteManager_list_searchInput_operatestatus">
    <option value="">--请选择--</option>
    <option value="01">熄火</option>
    <option value="02">死机</option>
    <option value="03">报警</option>
</select></td>
        </tr>
        <tr>
            <td>当前状态：</td>
            <td>
                <select name="operatestatus" class="easyui-combobox" style="width:150px;height:20px;"
                        id="audit_polluteManager_list_searchInput_operatestatus">
                    <option value="">--请选择--</option>
                    <option value="01">故障</option>
                    <option value="02">维修</option>
                    <option value="03">正常</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div style="width:10px;height:0px;overflow:hidden;"><input type="submit"></div>
                <a class="easyui-linkbutton" icon="icon-add"
                   href="#">确认添加</a> &nbsp;&nbsp;
            </td>
        </tr>
    </table>



</div>


<script type="text/javascript">
    //表头工具栏
    var toolbar = [{
        text: '新增故障申告信息',
        iconCls: 'icon-cut',
        handler: function () { OpenAdd() }
    }];
    //车辆参数设置方法
    function OpenEdit() {
        $('#FaultEditPage').dialog({
            title: '新增故障申报信息',
            width: 300,
            height: 300,
            closed: true,
            cache: false,
            modal: true,
        });

        $('#FaultEditPage').css('display', 'block')
        $('#FaultEditPage').dialog('open')

    }

    function custom_close() {

        $('#PoliceSetEditPage').css('display', 'none')
    }

    function OpenAdd() {
        $('#FaultAddPage').dialog({
            title: '新增故障申报信息',
            width: 300,
            height: 300,
            closed: true,
            cache: false,
            modal: true,
        });

        $('#FaultAddPage').css('display', 'block')
        $('#FaultAddPage').dialog('open')

    }


    function OpenDelete() {

        var aa = window.confirm("确定删除此条数据吗？");
        if (aa) {
            window.alert("数据已删除！");
        }
        else window.alert("你选了取消！");
    }




    $(function () {

       var dg= $('#FaultClareTable').datagrid({
            data: [
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' },
                { f1: '3F70001AZ-G', f2: 'FR60', f3: '12345678901', f4: '廊坊市机械有限公司', f5: '维修', f6: '吴明远', f7: '13256788765', f8: '北京市大兴区北京国药龙立科技有限公司西南89.6003米,北京好景象科技发展有限公司北143.216米;', f9: '<a href="#" onclick="OpenEdit()">修改</a>' }
                
            ],
            columns: [[
                //{ field: 'ck', checkbox: true },
                { field: 'f1', title: '车牌号', width: 100, align: 'center', sortable: true },
                { field: 'f2', title: 'GPS编号', width: 60, align: 'center' },
                { field: 'f3', title: 'SIM卡号', width: 80, align: 'center' },
                { field: 'f4', title: '经销商', width: 40, align: 'center' },
                { field: 'f5', title: '故障状态', width: 100, align: 'center' },
                { field: 'f6', title: '驾驶员名称', width: 80, align: 'center' },
                { field: 'f7', title: '驾驶员手机号', width: 80, align: 'center' },
                { field: 'f8', title: '最新位置', width: 80, align: 'center' },
                { field: 'f9', title: '操做', width: 80, align: 'center' }
            ]],
            //view: detailview,
            detailFormatter: function (index, row) {
                return '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
                $('#ddv-' + index).append(nav);

                $('#dg').datagrid('fixDetailRowHeight', index);
            },
            pagination: true
        });

       dg.datagrid('enableFilter', []);
    });



</script>