
<div style="width:500;height:300px;position:absolute;top:30px;left:10px;z-index:1000;">
    <h2 align="center">请输入设置参数</h2>
    <table>
        <tr margin-left="40">
            <td>车牌号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="3F70001AZ-G" /></td>
        </tr>
        <tr>
            <td>GPS编号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="FR60" /></td>
        </tr>
        <tr>
            <td>SIM卡号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="12345678901" /></td>
        </tr>
        <tr>
            <td>经销商：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="廊坊市机械有限公司" /></td>
        </tr>
        <tr>
            <td>品牌：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="雷沃" /></td>
        </tr>
        <tr>
            <td>驾驶员名称：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="吴明远" /></td>
        </tr>
        <tr>
            <td>驾驶员手机号：</td>
            <td><input name="polluteaccidentnameString" class="easyui-textbox" type="text" style="width:150px;height:20px;" value="13700011111" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><div style="width:10px;height:0px;overflow:hidden;"><input type="submit"></div>
<a class="easyui-linkbutton" icon="icon-cut"
   href="#">确认修改</a> &nbsp;&nbsp;</td>
        </tr>
    </table>
</div>

