@{
    ViewBag.Title = "汽车金控网";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container" style="height:54px">
    <img src="~/Content/images/carwebLogo_index.png" height="50" />
    <a class="headerIntro" title="无线GPS智能监控系统" href="#">
        <img src="~/Content/Images/login-info.png" />
        @*<span class="unvisi">稳稳的平台&nbsp;&nbsp;稳稳的资产</span>*@
    </a>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        @*<li data-target="#carousel-example-generic" data-slide-to="2"></li>*@
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/000002.jpg" alt="...">
        </div>
        <div class="item">
            <img src="~/Content/images/02.jpg" alt="...">
        </div>
        @*<div class="item">
                <img src="~/Content/images/04.jpg" alt="...">
            </div>*@
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">上一张</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">下一张</span>
    </a>
</div>

<div id="login-wraper">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form login-form" }))
    {
        <div class="body">
            <div class="error" id="loginnull" style="height: 26px; color: #C0392B;">
                @*@Html.ValidationMessageFor(m => m.UserName)*@
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input class="form-control" name="UserLname" id="LoginName" placeholder="请输入您的用户名" type="text" />
            </div>
            <div class="error" id="pwdnull" style="height: 26px;  color: #C0392B;">
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input class="form-control" name="UserPasswrd" id="PWD" type="password" placeholder="请输入您的密码" />
                <input class="form-control" name="UserPasswrd" id="PWD2" type="text" value="请输入您的密码" style="color:#999"/>
            </div>
            <div style="line-height:50px;text-align:left;padding:0 40px; font-size:14px;">
                <input type="checkbox" id="rmbUser">记住用户
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" onclick="saveUserInfo()"><b>登　录</b></button>

        <div class="error" style="height: 30px;  color: #C0392B;">
            @Html.ValidationSummary(true, "")
        </div>
    }
    <div class="nrsApp">
        <a href="#" onclick="openAPP()">
            <img src="~/Content/images/appDowload.png" />
        </a>
    </div>
</div>
<div id="appdowload-wraper">
    <div style="height:280px;width:100%">
        <h5>扫一扫二维码下载</h5>
        <div class="row">
            <div class="col-sm-9 col-md-6">
                <img src="~/Content/images/AndroidApp.png?v=@(DateTime.Now.ToString())" width="150" />
                <div class="caption">
                    <b class="ico ico-android"></b>
                    <span>android版</span>
                    <div><span style="font-size:12px;padding-left:5px;">(请用QQ客户端或浏览器扫描)</span></div>
                </div>
            </div>
            <div class="col-sm-9 col-md-6">
                <img src="~/Content/images/IosApp.png?v=@(DateTime.Now.ToString())" width="150" />
                <div class="caption">
                    <b class="ico ico-ios"></b>
                    <span>iphone版</span>
                </div>
            </div>
        </div>
    </div>
    <div class="nrsApp">
        <a href="#" onclick="closeAPP()">
            <img src="~/Content/images/appClose.png" />
        </a>
    </div>
</div>
<footer class="footer ">
    <div class="container">
        <div class="row footer-bottom">
            <ul class="list-inline text-center" style="margin-top:15px;">
                <li>版权所有&nbsp;&nbsp;汽车金控网&copy;2014-@DateTime.Now.Year</li>
            </ul>
        </div>
    </div>
</footer>
<style type="text/css">
    .phcolor {
        color: #999;
    }
    .col-sm-9 {
        float: left;
    }
</style>
<!--[if IE]>
    <style type="text/css">
        .col-sm-9 {
            margin-left: 10px;
        }
    </style>
<![endif]-->
<script type="text/javascript">
    $(function () {
        if ($.cookie("rmbUser") == 'checked') {
            $("#rmbUser").attr("checked", "checked");
            $("#LoginName").val($.cookie("userName"));
        }
        loadTopWindow();
        //判断浏览器是否支持placeholder属性
        if (!placeholderSupport()) {
            $('#LoginName').focus(function () {
                var input = $(this);
                if (input.val() == input.attr('placeholder')) {
                    input.val('');
                    input.removeClass('placeholder');
                    input.removeClass("phcolor");
                }
            }).blur(function () {
                var input = $(this);
                if (input.val() == '' || input.val() == input.attr('placeholder')) {
                    input.addClass('placeholder');
                    input.val(input.attr('placeholder'));
                    input.addClass("phcolor");
                }
            }).blur();
            $("#PWD").hide();
            $("#PWD2").focus(function () {
                $("#PWD").show();
                $("#PWD").focus();
                $("#PWD2").hide();
            })
            $("#PWD").blur(function () {
                if ($("#PWD").val() == '' || $("#PWD1").val() == '请输入您的密码') {
                    $("#PWD2").show();
                    $("#PWD").hide();
                }
            }).blur();
        }
        else {
            $("#PWD2").hide();
        }
    })

    function loadTopWindow() {
        if (window.top != null && window.top.document.URL != document.URL) { window.top.location = document.URL; }
    }

    function placeholderSupport() {
        return 'placeholder' in document.createElement('input');
    }

    function saveUserInfo() {
        if ($("#rmbUser").attr("checked") == 'checked') {
            var userName = $("#LoginName").val();
            $.cookie("rmbUser", "checked", { expires: 7 }); // 存储一个带7天期限的 cookie
            $.cookie("userName", userName, { expires: 7 }); // 存储一个带7天期限的 cookie

        }
        else {
            $.cookie("rmbUser", "false", { expires: -1 });        // 删除 cookie
            $.cookie("LoginName", '', { expires: -1 });
        }
    }
    function openAPP() {
        $("#appdowload-wraper").slideDown("slow");
    }
    function closeAPP() {
        $("#appdowload-wraper").slideUp("slow");
    }

    function test() {
        $.post("/CarMonitor/test", {}, function (e) {

        })
    }


    ///测试
    var outOfChina = function (lat, lon) {
        if (lon < 72.004 || lon > 137.8347)
            return true;
        if (lat < 0.8293 || lat > 55.8271)
            return true;
        return false;
    }


    var PI = 3.14159265358979324;
    var x_pi = 3.14159265358979324 * 3000.0 / 180.0;

    var transformLat = function (x, y) {
        var ret = -100.0 + 2.0 * x + 3.0 * y + 0.2 * y * y + 0.1 * x * y + 0.2 * Math.sqrt(Math.abs(x));
        ret += (20.0 * Math.sin(6.0 * x * PI) + 20.0 * Math.sin(2.0 * x * PI)) * 2.0 / 3.0;
        ret += (20.0 * Math.sin(y * PI) + 40.0 * Math.sin(y / 3.0 * PI)) * 2.0 / 3.0;
        ret += (160.0 * Math.sin(y / 12.0 * PI) + 320 * Math.sin(y * PI / 30.0)) * 2.0 / 3.0;
        return ret;
    }
    var transformLon = function (x, y) {
        var ret = 300.0 + x + 2.0 * y + 0.1 * x * x + 0.1 * x * y + 0.1 * Math.sqrt(Math.abs(x));
        ret += (20.0 * Math.sin(6.0 * x * PI) + 20.0 * Math.sin(2.0 * x * PI)) * 2.0 / 3.0;
        ret += (20.0 * Math.sin(x * PI) + 40.0 * Math.sin(x / 3.0 * PI)) * 2.0 / 3.0;
        ret += (150.0 * Math.sin(x / 12.0 * PI) + 300.0 * Math.sin(x / 30.0 * PI)) * 2.0 / 3.0;
        return ret;
    }

    var delta = function (lat, lon) {


        var a = 6378245.0; //  a: 卫星椭球坐标投影到平面地图坐标系的投影因子。
        var ee = 0.00669342162296594323; //  ee: 椭球的偏心率。
        var dLat = transformLat(lon - 105.0, lat - 35.0);
        var dLon = transformLon(lon - 105.0, lat - 35.0);
        var radLat = lat / 180.0 * PI;
        var magic = Math.sin(radLat);
        magic = 1 - ee * magic * magic;
        var sqrtMagic = Math.sqrt(magic);
        dLat = (dLat * 180.0) / ((a * (1 - ee)) / (magic * sqrtMagic) * PI);
        dLon = (dLon * 180.0) / (a / sqrtMagic * Math.cos(radLat) * PI);
        return { 'lat': dLat, 'lon': dLon };
    }
    var gcj_encrypt = function (wgsLat, wgsLon) {
        if (this.outOfChina(wgsLat, wgsLon))
            return { 'lat': wgsLat, 'lon': wgsLon };

        var d = delta(wgsLat, wgsLon);
        return { 'lat': wgsLat + d.lat, 'lon': wgsLon + d.lon };
    }
    //function test() {
    //  $.post("/CarMonitor/Getgoole_LatLon", { wgsLat: 39.896606666666699000, wgsLon: 116.23566833333301000 }, function (e) {
    //  })
    //}

    function jw() {
        var mm = gcj_encrypt(41.702519999999999800, 123.492613000000006000);
        return mm;
    }





</script>
<style>
    .headerIntro, .headerIntro:hover, .headerIntro:focus {
        height: 40px;
        line-height: 40px;
        display: inline-block;
        color: #777;
        margin-top: 5px;
        font-weight: 500;
        font-size: 15px;
    }

    .error ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }

    input[type="checkbox"] {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin: 0px 5px 0 5px;
    }
</style>
