
<style type="text/css">
    footer {
        display: block;
    }
</style>

<script type="text/javascript">
    document.createElement("footer");
</script>

<footer class="footerbottom">
    <div class="container" style="height:45px;">
        <p class="text-muted"> 版权所有&nbsp;&nbsp;汽车金控网&copy;2014-@DateTime.Now.Year</p>
    </div>
</footer>
