<div class="topheader">
    <div class="container">

        <div class="headercontainer" style="float:left;">
            <div class="headlogo">
                <img src="~/Content/Images/carwebLogo.png" height="50" />
            </div>
        </div>

        <ul class="nav-right">
            <li class="nav-li">欢迎您！</li>
            <li class="nav-li">
                <div class="userinfo">
                    <span class="username">@Session["UserName"]</span>
                    <i class="arrow"></i>
                    <div class="userinfodrop">
                        <div class="avatar">
                            <img src="~/Content/Images/userphoto.jpg" width="65" />
                            <div class="changetheme">
                                <a class="default"></a>
                                <a class="blueline"></a>
                                <a class="greenline"></a>
                                <a class="contrast"></a>
                                <a class="custombg"></a>
                            </div>
                        </div><!--avatar-->
                        <div class="userdata">
                            <span id="CROLE" class="email">youremail@yourdomain.com</span>
                            <ul>
                                <li><a id="editPWD" href="#">修改密码</a></li>
                                <li><a id="exit" href="#">退出</a></li>
                            </ul>
                        </div><!--userdata-->
                    </div><!--userinfodrop-->
                </div>
            </li>
            <li class="nav-li"><a class="aexit" href="#" onclick="exit()">[&nbsp;退出&nbsp;]</a></li>
            
            <li class="nav-li" style="border:0px;">
                <a style="color:white;" href="../CarMonitor/VersionInfo" target="_self" title="2016-5-20,平台版本升级公告">
                    [&nbsp;<img width="18" height="12" src="/Content/Images/msg.gif" />&nbsp;
                    <span style="color: white; font-weight:bold;">平台升级公告</span>&nbsp;]
                </a>
                <a id="warnhref" style="color:white;" href="../CarReport/Index?flag=1" target="_self" style="display:none;">
                    [&nbsp;<img width="18" height="12" src="/Content/Images/msg.gif" />&nbsp;
                    <span id="warnspan" style="color: white; font-weight:bold;"></span>&nbsp;]
                </a>
            </li>

        </ul>

        <div class="headersearch" style="padding-top:10px;">
            <input id="search_key" class="easyui-searchbox" data-options="searcher:doSearch,prompt:'请输入车牌号或终端编号或车主姓名'" style="width:320px;height:34px;" />
            @*<div id="mm">  menu:'#mm',
                <div data-options="name:'CarNo'">车辆编号</div>
                <div data-options="name:'TerNo'">终端编号</div>
              </div>*@
        </div>
    </div>
</div><!--topheader-->

<script type="text/javascript" language="javascript">

    function doSearch(value, name) {
        $("#fame")[0].contentWindow.doSearch(value, name);
    }

    function exit() {
        $.ajax({
            type: 'post',
            url: '/Account/UserCance',
            success: function (data) {
                window.location.href = "/Account/Login";
            }
        });
    }

    $(function () {
        if ($("#search_key").next() != null
            && $("#search_key").next().children() != null
            && $("#search_key").next().children().eq(2) != null) {
            var o = $("#search_key").next().children().eq(2);
            if (o != null
                && o != undefined
                && o.length > 0) {
                $(o).bind("blur", function () {
                    SearchValue = $(this).val(); 
                });
            }
        }
        
        $.ajax({
            type: 'post',
            url: '/CarReport/GetData_BjCount',
            success: function (data) {
                if (data > 0) {
                    $("#warnhref").show();
                    $("#warnspan").text('报警设备：' + data);
                }
                else {
                    $("#warnhref").hide();
                }
            }
        });
    });

</script>
<!--header-->
