<div class="topheader">
    <div class="container">
        <ul class="nav-left">
            <li class="nav-li">欢迎您！</li>
            <li class="nav-li">
                <div class="userinfo">
                    <span class="username">@Session["UserName"]</span>
                    <i class="arrow"></i>
                    <div class="userinfodrop">
                        <div class="avatar">
                            <img src="~/Content/Images/userphoto.jpg" width="85" />
                            <div class="changetheme">
                                <a class="default"></a>
                                <a class="blueline"></a>
                                <a class="greenline"></a>
                                <a class="contrast"></a>
                                <a class="custombg"></a>
                            </div>
                        </div><!--avatar-->
                        <div class="userdata">
                            <span id="CROLE" class="email">youremail@yourdomain.com</span>
                            <ul>
                                <li><a id="editPWD" href="#">修改密码</a></li>
                                <li><a id="exit" href="#" >退出</a></li>
                            </ul>
                        </div><!--userdata-->
                    </div><!--userinfodrop-->
                </div>
            </li>
            <li class="nav-li"><a class="aexit" href="#" onclick="exit()">[&nbsp;退出&nbsp;]</a></li>
            <li class="nav-li" style="border:0px;"><a style="color:white;" href="VersionInfo" target="_self" title="2016-5-20,平台版本升级公告">[&nbsp;<img width="18" height="12" src="/Content/Images/msg.gif" />&nbsp;<span style="color: white; font-weight:bold;">平台升级公告</span>&nbsp;]</a></li>
            <li class="nav-li" style="border:0px;"><a style="color:white;" href="MonitorIndex_511" target="_self">测试</a></li>
        </ul>
        @*<ul class="nav-right">
            <li class="nav-li" style="padding:0 10px">客服电话：010-82118388</li>
            
        </ul>*@
    </div>
</div><!--topheader-->

<nav class="headernav headerborder" id="header">
    <div class="headercontainer">
        <div class="headlogo">
            <img src="~/Content/Images/carwebLogo.png" height="50" />
        </div>
        <div class="headersearch">
            <input class="easyui-searchbox" data-options="menu:'#mm',searcher:doSearch" style="width:320px;height:38px;"/>
            <div id="mm">
                <div data-options="name:'CarNo'">车辆编号</div>
                <div data-options="name:'TerNo'">终端编号</div>
            </div>
        </div>
    </div>
    <div class="headerright" >
        <ul id="CUL" class="profile_summary">
            <li id="CCLJK"><a href="/CarMonitor/MonitorIndex_511" class="active" style="font-size:14px;">车辆监控</a></li>
            @*<li id="CTJBB"><a href="" style="font-size:14px;">统计报表</a></li>*@
            <li id="CXTGLAN"><a href="/Home/Index" style="font-size:14px;">系统管理</a></li>
        </ul>
    </div>
    @*<div class="headercontainer">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img src="~/Content/Images/carwebLogo.png" height="50" />
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
            <div class="header-nav ">
                
                <div class="headersearch">
                    <input class="easyui-searchbox" data-options="menu:'#mm',searcher:doSearch" style="width:320px;height:38px;"></input>
                    <div id="mm">
                        <div data-options="name:'CarNo'">车辆编号</div>
                        <div data-options="name:'TerNo'">终端编号</div>
                    </div>
                </div>
            </div>
            <ul class="profile_summary  navbar-right" >
                <li><a href="/CarMonitor/MonitorIndex" class="active" style="font-size:14px;">车辆监控</a></li>
                <li><a href=""  style="font-size:14px;">统计报表</a></li>
                <li><a href="/Home/Index"    style="font-size:14px;">系统管理</a></li>
            </ul>
        </div>
    </div>*@
</nav>
<script type="text/javascript" language="javascript">
    function doSearch(value,name) {
        $("#fame")[0].contentWindow.doSearch(value,name);
    }
    function exit() {
        $.ajax({
            type: 'post',
            url: '/Account/UserCance',
            success: function (data) {
                window.location.href = "/Account/Login";

            }
        });
    }
        
</script>
<!--header-->
 

