<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>汽车金控网</title>
    <link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
    <link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/style.default_511.css" rel="stylesheet" />
    <link href="~/assets/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/themes/color.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/themes/demo.css" rel="stylesheet" type="text/css" />
    @* <link href="~/assets/themes/step.css" rel="stylesheet" type="text/css" />
       <link href="~/assets/BMapLib/DrawingManager_min.css" rel="stylesheet" />
       <link href="~/assets/BMapLib/SearchInfoWindow_min.css" rel="stylesheet" />*@
    <link href="~/Content/uniform.tp.css" rel="stylesheet" />
    <link href="~/assets/themes/step.css" rel="stylesheet" />

    <script type="text/javascript" src="~/assets/javascripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/assets/javascripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/assets/javascripts/datagrid-detailview.js"></script>
    @*  <script type="text/javascript" src="~/assets/javascripts/datagrid-groupview.js"></script>
        <script type="text/javascript" src="~/assets/javascripts/datagrid-filter.js"></script>
        <script src="~/assets/javascripts/GeoUtils.js"></script>
        <script type="text/javascript" src="~/assets/Highcharts-4.0.3/js/highcharts.js"></script>
        <script src="~/assets/Highcharts-4.0.3/js/themes/grid.js"></script>
        <script type="text/javascript" src="~/assets/Highcharts-4.0.3/js/modules/exporting.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    @*<script type="text/javascript" src="~/assets/javascripts/wizard.js"></script>*@
    <script type="text/javascript" src="~/assets/javascripts/Dialog.js"></script>
    @*<script type="text/javascript" src="~/assets/javascripts/area.js"></script>
      <script type="text/javascript" src="~/assets/javascripts/location.js"></script>*@
    <script type="text/javascript" src="~/assets/javascripts/easyui-lang-zh_CN.js"></script>
    @*<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3xyzXPzwlGKFZWULrsKdioWb"></script>*@
    @*<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>*@

    @*<script type="text/javascript" src="http://maps.google.cn/maps/api/js?sensor=false&language=zh-CN&libraries=drawing&key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM"></script>*@
    <script src="~/assets/javascripts/uploadPreview.min.js"></script>

    @*<script src="http://ditu.google.cn/maps/api/js?sensor=false"></script>*@
    <!--加载鼠标绘制工具-->
    @*<script type="text/javascript" src="~/assets/javascripts/DrawingManager.js"></script>*@
    @*<script src="~/assets/javascripts/DrawingManager_min.js"></script>*@
    <!--加载检索信息窗口-->
    @*<script type="text/javascript" src="~/assets/javascripts/SearchInfoWindow_min.js"></script>
        <script type="text/javascript" src="~/assets/javascripts/DistanceTool_min.js"></script>
        <script src="~/assets/javascripts/TextIconOverlay_min.js"></script>
        <script src="~/assets/javascripts/MarkerClusterer_min.js"></script>
    *@
    <script type="text/javascript" src="~/assets/javascripts/wizard.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/general.js"></script>
    <script src="~/Scripts/jquery.bxSlider.min.js"></script>
    <script src="~/Scripts/loading-overlay.min.js"></script>
    <!--[if IE 9]>
        <link rel="stylesheet" media="screen" href="~/Content/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" media="screen" href="~/Content/style.ie8.css"/>
    <![endif]-->
    <script src="~/assets/javascripts/Common.js"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
