<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
  </settings>

  <providers embedded="GDAL.providers.config, GDAL"/>

  <database>
    <provider name="oracleClient1.0" />
    <!--<provider name="oracle10.1" />-->
    <!--主网使用-->
    <dataSource name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=123.57.217.93)(PORT=9019))(CONNECT_DATA=(SERVICE_NAME=gpsdb)));User Id=scott;Password=Wgh80987" />
    <!--内网使用-->
    <!--<dataSource name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.11.135)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=JK;Password=JK" />-->
    <!--<dataSource name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=219.236.247.110)(PORT=13000))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=JK;Password=JK" />-->
    <!--<dataSource name="Oracle" connectionString="User ID=JK;Password=JK;Data Source=orcl;" />-->
  </database>
  <sqlMaps>
    <sqlMap embedded="GDAL.Maps.UserInfo.xml, GDAL"/>
    <sqlMap embedded="GDAL.Maps.UserRoleView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.DeptInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.DeptInfoView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.UserDeptView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.UserFields.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.CarType.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.ColligateQuery.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.CarInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.FieldValues.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.TerminalInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.RailProperty.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.TerminalInfoView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.RoleInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.MenuView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.MenuInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.RoleManu.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.NotselMenuView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.SelMenuView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.MonitorView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.RealtimeView.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.HistoricalData.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.RawData.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.Sendinfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.SendinfoLast.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.RealtimeData.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.OldterPostbacktimes.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.ProductsInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.RegistrationInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.Sendinfoyx.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.SendinfoyxLast.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.Sendcmd.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.SetArea.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.VersionInfo.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.AppSetting.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.CarReportData.xml,GDAL"/>
    <sqlMap embedded="GDAL.Maps.QuestionReply.xml,GDAL"/>
  </sqlMaps>
</sqlMapConfig>
