@model GModel.Car.TerminalInfo
@using (Ajax.BeginForm("TerminalForm", "Terminal", FormMethod.Post, new AjaxOptions()))
{
    <div class="stdform" style="padding:20px 70px 10px 60px">
        <p>
            <label><i>*</i>终端编号</label>
            <div class="field">
                @Html.TextBoxFor(m => m.TerNo, new { @class = "textbox" })
                <b>
                    @Html.ValidationMessageFor(m => m.TerNo)
                </b>
            </div>
        </p>
        <p>
            <label><i>*</i>所属企业</label>
            <div class="field">
                <input name="DeptId" id="DeptId" class="textbox" type="text" style="height:30px;" />
                <b>
                </b>
            </div>
        </p>
        <p>
            <label><i>*</i>终端类型</label>
            <div class="field">
                <input name="TerTypeid" id="TerTypeid" class="textbox" type="text" style="height:30px" />
                <b>
                </b>
            </div>
        </p>
        <p>
            <label><i>*</i>SIM卡</label>
            <div class="field">
                <input name="TerSimcard" id="TerSimcard" class="textbox" type="text" />
                <b>
                </b>
            </div>
        </p>

    </div>
    <div class="formfooter">
        <button class="stdbtn btn_blue" type="submit" onclick="return validate()">确定</button>
        <button class="stdbtn btn_default" type="button" onclick="clearForm()">取消</button>
    </div>
}

<script src="~/assets/javascripts/Common.js"></script>

<script type="text/javascript" language="javascript">

    function validate() {
        var msg = [];

        var terno = $("#TerNo").val();
        if (terno == "") {
            msg.push("终端号不能为空！");
        }
        else {
            var reg = /[\u4e00-\u9fa5]/;
            if (reg.exec(terno))
            {
                msg.push("终端号不能包含中文！");
            }
        }
        var TerType = $('#TerTypeid').combobox('getValue');
        if (TerType == "" || TerType == null) {
            msg.push("终端类型不能为空！");
        }

        var simcard = $("#TerSimcard").val();
        if (simcard == "") {
            msg.push("SIM卡号不能为空！");
        }
        else {
            if (!((simcard.length == 11)
                || (simcard.length == 13))) {
                msg.push("SIM卡号长度为11或13位!");
            }
        }

        if (msg.length > 0) {
            window.parent.$.messager.alert('提示', msg.join("\r\n"), 'info');
            return false;
        }
    }

    $(function () {

        $("input, textarea, select").uniform();

        $("#DeptId").combotree({
            url: '/Dept/GetOrgNode',
            editable: true,
            onLoadSuccess: function () {
                @*$('#parentid').combotree('setValue', '@ViewBag.FatherID');*@
            }
        });

        $('#TerTypeid').combobox({
            url: '/TerType/GetTerTypeList',
            valueField: 'ProId',
            textField: 'ProName',
            panelHeight:100,
            //queryParams: {isTree:"false"},
            onLoadSuccess: function () {
                var data = $('#TerTypeid').combobox('getData');
                if (data.length > 0) {
                    $('#TerTypeid').combobox('select', data[0].ProId);
                }
            }
        });

        BindSearchEvent($(" .textbox-text"), $('#DeptId'));

        /*
        $(" .textbox-text")
        .attr("title", "输入关键字，点击回车键，进行检索。")
        .bind("input keydown", function (e) {
            if (e.keyCode == "13") {
                $('#DeptId').combotree('tree').tree("search", $(this).val());
                if ($(this).val() == "" || $(this).val() == null) {
                    $('#DeptId').combotree('tree').tree("collapseAll");
                }
            }
        });
        */

        $("input[type=submit]").click(function () {

        });
    })

    function clearForm() {
        window.parent.$(".dialog").dialog('close');
    };

    function submitTerminalSucceed() {
        var ifr = window.parent.document.getElementById('/Terminal/TerminalIndex');
        var win = ifr.window || ifr.contentWindow;
        win.$('#TerminalTable').datagrid('reload');
        window.parent.$(".dialog").dialog('close');
        window.parent.$.messager.show({
            title: '提示',
            msg: "添加成功！",
            timeout: 2000,
        });
    }

    function editFormError(val) {
        window.parent.$(".dialog").dialog('close');
        window.parent.$.messager.show({
            title: '提示',
            msg: val + ",添加失败！",
            timeout: 2000
        });
    }
</script>
